{
	box-sizing: border-box;
}

body {
	font-family: 'Chiller', sans-serif;
	/* color: rgb(7, 162, 252); */
	color:black;	
}

h3 {
	font-size: 36px;
}
p {
	font-size: 22px;	
}

#invite {
	height: 360px;
	width: 200px;
	background-image: url("imgs/Autocorrekt\ snivy.jpg");
	background-size: contain;
	padding: 80px;
}