<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../static/kids-style.css">
	</head>
	<body>
		<div id="invite">
			<h3>Dear {{ to }}</h3>
			<p>We're very excited to invite you to <strong>{{ event_name }}</strong></p>
			<p>
				<strong>Date:</strong> {{ date }}
				<strong>Time:</strong> {{ time }}
			</p>
			<p>
				See you there!<br />
				<em>{{ sender }}</em>
			</p>
		</div>
	</body>
</html>
